html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {                  /*Found this code that initialises formatting to help fix unexpected browser bugs*/
    border:         0;
	margin:         0;
	padding:        0;
    
    font:           inherit;
	font-size:      100%;
	vertical-align: baseline;
}

:root {                                     /*Global CSS style*/
    color:           #444545;             /*Default font colour - see colour palette in Plan folder*/
    font-family:     'Quicksand', sans-serif;/*Lovely font with sans serif back up*/
    
    overflow-x:      hidden;                /*I don't like a sideways scroll!*/
    scroll-behavior: smooth;                /*For smooth scrolling in nav and carousel*/
}


.hidden {                                   /*Invisible point in page for nav scrolling*/
    display:absolute;
    height:           70px;
    width:            0px;
    
    background-color: transparent;
    color:            transparent;
}

.navbar {          
    background-color: #166088;
    display:          flex;                  /*Navbar made with flexbox..*/
    flex-direction:   row;                   /*..with boxes in a row*/
    height:           75px; 
    left:             0;
    max-width:        100%;                  /*Making sure navbar doesn't extend outside visible window*/
    position:         fixed;                 /*Fixing navbar to top of window*/
    top:              0;
    width:            100%;
    z-index:          1;                     /*Always in front of other page elements*/
    
    text-align:       center;
}

.nav-item {
    align-items:     center;
    display:         flex;
    flex-basis:      100%;                   /*Each item the same size as each other*/
    flex-direction:  row;
    height:          100%;
    justify-content: space-around;           /*Spacing each item*/
    width:           100%;
    
    color:           #DBE9EE;
    font-size:       25px;
}

.nav-item > a {
    padding:         20px 0;
    width:           inherit;
    
    color:           inherit;
    text-decoration: inherit;                /*Prevent link decoration on text*/
}

.nav-item:hover {                            /*Highlighting navbar selection*/
    color:     white;
    font-weight: 900;
}

.whole-page {
    display:          flex;
    flex-direction:   column;                /*Rest of page is a large vertical flexbox*/
    margin-top:       5px;
    position:         relative;
    
    background-color: #DBE9EE;
}

.links-header {
    display:         flex;
    flex-direction:  row;
    justify-content: space-around;
    position:        relative;
    width:           100%;
    
    text-align:      center;
}

.links {
    display:         flex;
    flex-basis:      100%;                  /*Each link the same relative size by default*/
    flex-direction:  row;
    height:          100%;
    justify-content: space-around;
    width:           100%;
    
    transition:      all 0.6s;              /*make transitions last 0.6s - see related :hover class*/
}

.links > a {
    height:  100%;
    padding: 30px 0;
    width:   100%;
}

.links:hover {
    flex-basis:       140%;                 /*Grow associated box by relatively 140%*/
    
    background-color: #A1CDF4;            /*Change colour*/
}

.title {
    display:         flex;
    justify-content: space-around;
    padding:         10px 0;
    width:           100%;
}

.face {
    border:        3px solid #166088;
    border-radius: 20%;
    display:       block;
    height:        auto;
    float:         left;
    margin:        20px 20px 20px 0;
    max-width:     100%;
    width:         250px;
}

.video {
    display:         flex;
    justify-content: space-around;
    margin:          40px 0px;
    width:           100%;
}

.apply-why{
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;                  /*Push sections around based on available width*/
    justify-content: center;
    width:           100%;
}

.why-desc {
    width: 250px;                           /*fixed width for wrapping*/
}

.copy {
    display:        flex;
    flex-direction: column;
    padding:        20px 5% 0 5%;
}

h1 {
    padding-top: 50px;

    font-size:   60px;
    font-weight: 900;
    text-align:  center;
}

h1 {
    max-width: 80%;
}

h2 {
    margin:      10px 0 0 30px;
    
    color:     #997E72;
    font-size:   50px;
    font-weight: 800;
}

h3 {
    font-size:   30px;
    font-weight: 700;
    text-align:  left;
}

p {
    font-size: 25px;
}

li {
    padding: 10px 0;
}

.carousel-box {
    border:      2px solid #444545;
    height:      404px;
    margin:      20px 0 50px 0;
    width:       720px;                     /*Photos set to 720px*/
    
    text-align:  center;
    
    overflow:    hidden;                    /*Hide everything outside frame*/
    user-select: none;                      /*Supress cursor over images*/
}

.carousel-image {                           /*Ensure images are where they need to be*/
    float:   left;
    margin:  0px;
    padding: 0px;
}

.image-box {
    height :    404px;
    position:   relative;
    width:      4320px;                     /*All images in one long row*/
    
    transition: left 1s;
}

.button-box {
    position: relative;
    top:      -30px;                        /*Overlay image with navigation buttons*/
}

.carousel-button {
    border:           2px solid #444545;
    border-radius:    50%;                  /*Nice round buttons*/
    display:          inline-block;
    height:           12px;
    margin:           0px 7px;
    width:            12px;
    
    background-color: #DBE9EE;
}

.carousel-button:hover {
    background-color: #166088;            /*Fill round buttons on hover*/
}

#carousel-image-1:target ~ .image-box {
    left: 0px;                              /*Push row to specific location depending on choice*/
}

#carousel-image-2:target ~ .image-box {
    left: -720px;
}

#carousel-image-3:target ~ .image-box {
    left: -1440px;
}

#carousel-image-4:target ~ .image-box {
    left: -2160px;
}

#carousel-image-5:target ~ .image-box {
    left: -2880px;
}

#carousel-image-6:target ~ .image-box {
    left: -3600px;
}

.footer {
    display:          flex;
    flex-direction:   row;
    height:           80px;
    width:            100%;
    
    background-color: #997E72;
    color:            #DBE9EE;
    font-size:        20px;
    text-align:       center;
}

@media only screen and (max-width: 735px) {    /*Edits for smaller screen*/
    .navbar {
        height:150px;                          /*Make navbar easier to see on smaller screens*/
    }

    .nav-item {
        border:      1px dashed #DBE9EE;     /*Outline links for clear delineation*/
        
        font-size:   37px;                     /*Increase font size*/
        font-weight: 900;
    }

    .nav-item > a {
        padding: 50px 0;
    }

    .whole-page{
        margin-top:5px;
    }

    .hidden {
        height: 145px;
    }

    .links {
        border:             1px dashed #166088;/*Outline instead of transition*/
        
        background-color: #A1CDF4;
    }

    .links:hover {
        flex-basis:         100%;              /*Overwrite / prevent transition*/
        
        background-color: #A1CDF4;
    }

    h2 {                                       /*Make all the text a bit bigger*/
        font-size: 45px;
    }

    h3 {
        font-size: 40px;
    }

    p {
        font-size: 35px;
    }

    .button-box {
        position:   relative;
        top:        -40px;
    }
    .carousel-button {                         /*Make carousel buttons bigger*/
        border:        3px solid #444545;
        border-radius: 50%;
        display:       inline-block;
        height:        20px;
        margin:        0px 15px;
        width:         20px;
    }

    .footer {
        height: 120px;
    }
}