html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

.hidden {
    height: 0px;
    width:0px;
    background-color: transparent;
    color: transparent;
}

.navbar {
    position:fixed;
    display:flex;
    flex-direction:row;
    height:75px;
    width:100%;
    text-align: center;
    top:0;
    left:0;
    font-size: 25px;
    color: #DBE9EE;
    background-color: #166088;
    z-index:1;
}

.nav-item {
    display:flex;
    flex-direction: row;
    flex-basis:100%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:100%;
}

.nav-item > a {
    color:inherit;
    width:inherit;
    padding:20px 0;
    text-decoration: inherit;
}

.nav-item:hover {
    color: white;
    font-weight: 900;
}

.whole-page {
    display:flex;
    flex-direction: column;
    margin-top:75px;
    position:relative;
    background-color: #DBE9EE;
}

.links-header {
    position: relative;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width:100%;
    text-align: center;
}

.links {
    display:flex;
    flex-direction: row;
    flex-basis:100%;
    justify-content: space-around;
    width: 100%;
    height:100%;
    transition: all 0.6s;
}

.links > a {
    padding:30px 0;
    width: 100%;
    height:100%;
}

.links:hover {
    flex-basis: 140%;
    background-color:#A1CDF4;
}

.title {
    display:flex;
    justify-content: space-around;
    width:100%;
    padding: 10px 0;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}

.bio {
    display:flex;
    width:100%;
}

.video {
    display:flex;
    justify-content: space-around;
    margin: 20px 0px;
    width:100%;
}

.footer {
    display:flex;
    flex-direction:row;
    height:50px;
    width:100%;
    text-align: center;
    color: #DBE9EE;
    background-color: #997E72;
}